@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
    
}

/* YLÄTUNNISTE */
.ylaosa {
    display: flex;
    flex-direction: column;
    position: relative; 
    width: 100%;
    background-color: #D6E4E5;
    justify-content: center;
    height: 30vh;
}

.ylaosa h1 {
    font-family: 'Parisienne', cursive;
    font-size: 70px;
    right: 25%;
    animation-name: liiku;
    animation-duration: 2s;
}
@keyframes liiku {
    0%   { 
        top: -10px;
    }
    100% { 
        top: 0px;
    }
}

.ylaosa p, .ylaosa h1, .ylaosa a {
    display: flex;
    justify-content: flex-end;
    position: relative;    
    right: 10%;
}
.ylaosa a {
    color: black;
    text-decoration: none;
}

.ylaosa a:hover {
    color: #EB6440;
    text-decoration: none;
}

#profiilikuva {
    position: absolute; 
    width: 33vw;
    z-index: 40;
    border-radius: 50%;
    border: solid #D6E4E5  15px;
    background-color: #EB6440;
    padding: 8px;
    left: 3%;
    top: 3%;
}



/* PÄÄOSIO */
.main {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.korosta {
    font-style: italic;
    font-weight: bold;
}

.esittely {
    width: 70%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10px 70px;
    padding: 30px;
    text-align: center;
    gap: 30px;
    left: 20px;
}
#profiilikuva2 {
    display: none;
}


/* SIVUNAVI */
.sivu {
    position: relative; 
    width: 30%;
    height: 100vh;
    background-color: #497174;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SideNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    gap: 30px;
    position: relative;
    margin-right: 10%;
    
}

.sivu a {
    font-size: 32px;
    color: white;
    text-decoration: none;
}

.sivu a:hover {
    color: #EB6440;
    text-decoration: none;
}


@media only screen and (max-width: 1000px) {
    .ylaosa h1 {
        right: 20%;
    }
    .SideNav {
        top: -15%;
        margin: 10px;
        gap: 20px;
    }
    .esittely {
        padding: 0;
        margin-top: 0;
    }
    .SideNav a {
        font-size: 28px;
    }
}

@media only screen and (max-width: 830px) {
    .ylaosa h1 {
        right: 10%;
    }

    .sivu {
        justify-content: flex-start;
    }

    .SideNav {
        top: 15%;
    }

    .SideNav a {
        font-size: 25px;
    }
}
@media only screen and (max-width: 710px) {
    #profiilikuva {
        display: none;
    }
    .ylaosa {
        background-image: url(mandala.jpg);
        background-color: #D6E4E5;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .ylaosa p, .ylaosa h1, .ylaosa a {
        justify-content: center;
        right: 0;
    }
    .ylaosa h1 {
        right: 0;
    }

    .main {
        flex-direction: column;
        align-items: center;
    }

    .esittely{
        margin-bottom: 20px;
    }
  
    .sivu {
        width: 100%;
        height: 30vh;
        justify-content: center;
        align-items: center;
    }
    .SideNav {
        align-items: center;
        margin-right: 0;
        top: 0;
        flex-direction: row;
        gap: 20px;
    }
    #profiilikuva2 {
        display: flex;
        width: 70%;
        border: solid #EB6440 3px;
        border-radius: 50%;
        align-self: center;
    }

    @media only screen and (max-width: 600px) {
        .esittely {
            width: 90%;
        }

        .SideNav {
            align-items: center;
            flex-direction: column;
            gap: 10px;
        }
    }

    @media only screen and (max-width: 370px) {
        .ylaosa h1 {
            font-size: 40px;
        }
    }
}