@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

/*TAUSTA*/

img {
    position: fixed;
    z-index: -1;
    opacity: 50%;
}

/*YLÄOSAT*/ 
.H-ylaosa {
    display: flex;
    flex-direction: column;
    height: 40vh;
}

.Otsikko {
    font-family: 'Parisienne', cursive;
    font-size: 80px;
    animation-name: liiku;
    animation-duration: 2s;
    margin: 20px;
    margin-bottom: 5px;
}
@keyframes liiku {
    0%   { 
        top: -10px;
    }
    100% { 
        top: 0px;
    }
}

.H-ylaosa p, .H-ylaosa a {
    color: black;
    align-self: center;
    margin: 5px;
}

.linkit {
    text-decoration: none;
}

.H-ylaosa a:hover {
    color: #EB6440;
    text-decoration: none;
}

.Otsikko:hover {
    color: black;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out 0.2s;
}



/*TYÖKOKEMUS*/


.main {
    display: flex;
    flex-direction: column;    
}

.työkokemus {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
  }

.työotsikko, .koulutusotsikko {
    width: 50%;
    align-self: center;
    text-align: center;
    
}

.työotsikko h2, .koulutusotsikko h2 {
    font-size: 55px;
    font-family: 'Cinzel', serif;
    color: #EB6440;
}

.työlista, .koulutuslista {
    background-color: #497174;
    color: white;
    width: 50%;
    padding: 40px;
    line-height: 2;
}
.työlista {
    border-radius: 60px 20px;
}

.koulutuslista {
    border-radius: 20px 60px;
}

/*KOULUTUS*/

.koulutus {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 30px;
}


/*ALANAVI*/

  .sivu {
    width: 100%;
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.SideNav {    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.SideNav a {
    font-size: 30px;
    color: black;
    text-decoration: none;
}

.sivu a:hover {
    color: #EB6440;
    text-decoration: none;
}
.takaisin {
    width: min-content;
    position: relative;
    left: 20px;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

@media only screen and (max-width: 890px) {
    .työotsikko h2, .koulutusotsikko h2 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 690px) {
    .työkokemus, .koulutus {
        flex-direction: column;
    }
    .työkokemus h2 {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .koulutusotsikko h2 {
        margin-bottom: 10px
    }
    .työlista, .koulutuslista {
        align-self: center;
        width: 90%;
    }
    #taustakuva {
        display: none;
    }
    
    .H-ylaosa {
        background-image: url("mandala.jpg");
        background-size: cover;
    }

    .sivu {
        background: linear-gradient(to left, #D6E4E5, #497174, #497174);
    }

    /*ALKU*/
   
    /*LOPPU*/
    
}
@media only screen and (max-width: 500px) {
    .työlista, .koulutuslista {
        width: 100%;
    }
    .Otsikko h1 {
        align-self: center;
    }
}